{% extends "base.html" %}
{% load tailwind_tags %}

{% block scripts%}
<script>
    function validateEmail() {
        var emailInput = document.getElementById('correo');
        emailInput.setCustomValidity('');

        if (!emailInput.validity.valid) {
            emailInput.setCustomValidity('Por favor, introduce un correo electrónico válido.');
        }
    }
</script>

{% endblock%}

{% block content %}

    <section class="propietario">
        <h2>Propietario: {{ propietario.nombre_prop }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ propietario_form.as_p }}
            <button type="submit" name="edit_nombre">Guardar Nombre</button>
        </form>

        <h2>Correos:</h2>
        <ul class="correo-list">
            {% for correo in correos %}
                <li class="correo-item">
                    {{ correo.correo }}
                    <form method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="correo_id" value="{{ correo.correo }}">
                        <button type="submit" name="delete_correo" class="delete-btn">x</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <h3>Agregar Correo:</h3>
        <form method="post">
            {% csrf_token %}
            {{ correo_form.as_p }}

            <button type="submit" name="add_correo">Agregar</button>
        </form>
    </section>
{% endblock %}